.dancing-script-title {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight:400; /* 400から700の数値に置き換え */
    font-style: normal;
  }

.zen-antique-soft-regular {
  font-family: "Zen Antique Soft", serif;
  font-weight: 400;
  font-style: normal;
}

.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}
